div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

table.members {
    border-style: none;
    height: 20px;
}

table.members tr {
    height: 20px;
}

table.members tbody th {
    padding: 3px;
    width: 200px;
    border-style:none;
}

table.members tbody td {
    padding: 3px;
    border-style:none;
}

